DATABASE_URL="postgresql://user:password@localhost:5432/tripora?schema=public"
JWT_SECRET="eadb1c264782dc4b068af9ad1ffd2d308faf9199793b94aa506388575e56ef3f"
FRONTEND_URL="http://localhost:3000"
PORT=5000
